.btplay{
    background: #232633;
    color: white;
    text-align: left;
    display: flex;
    border: none;
    align-items: center;
}
.btplay:hover{
    background-color: rgb(40, 0, 0);
}
.acciones{
    width: 17%;
    height: 100%;
    filter: invert(100%);
    transform: scale(0.8);
    transition-duration: 0.8s;
}
.acciones:hover{
    transform: scale(0.9);
    transition-duration: 0.8s;
    filter: invert(70%);
}